@import 'tailwindcss';
@theme {
  --color-white: hsl(0, 0%, 100%);
  --color-blue-900: hsl(230, 35%, 7%);
  --color-blue-300: hsl(231, 77%, 90%);
}

* {
  user-select: none;
}

body {
  background-color: hsl(230, 35%, 7%);
  min-height: 100vh;
  overflow-x: hidden;
}

.tp-1 {
  font-family: 'Bellefair', serif;
  font-size: 144px;
  line-height: 171.9%;
  letter-spacing: 0px;
}

.tp-2 {
  font-family: 'Bellefair', serif;
  font-size: 100px;
  line-height: 114.6%;
  letter-spacing: 0px;
}

.tp-3 {
  font-family: 'Bellefair', serif;
  font-size: 56px;
  line-height: 64.2%;
  letter-spacing: 0px;
}

.tp-4 {
  font-family: 'Bellefair', serif;
  font-size: 32px;
  line-height: 36.7%;
  letter-spacing: 0px;
}

.tp-5 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 28px;
  line-height: 33.6%;
  letter-spacing: 4px;
}

.tp-6 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 28px;
  line-height: 32.1%;
  letter-spacing: 0px;
}

.tp-7 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 14px;
  line-height: 16.8%;
  letter-spacing: 2px;
}

.tp-8 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 16px;
  line-height: 19.2%;
  letter-spacing: 2px;
}

.tp-9 {
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  line-height: 180%;
  letter-spacing: 0px;
}

.tp-10 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 28px;
  line-height: 33.6%;
  letter-spacing: 4px;
}

@media (max-width: 1024px) {
  .tp-1 {
    font-size: 144px;
    line-height: 125%;
  }
}

@media (max-width: 800px) {
  .tp-4 {
    font-size: 18px;
  }
  .tp-10 {
    font-size: 24px;
    line-height: 100%;
  }
}
